* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    padding: 1rem ;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;

}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: -5%;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
}

nav a:hover {
    color: #a7a7a7;
}

.btn-signing {
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}

.btn-signing:hover {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content {
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5,
            #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-box .tag {
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    /* cursor: pointer; */
}

.tag-box .tag:hover {
    color: #5300a0;
}

content h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-get-started {
    text-decoration: none;
    border: 1px solid#2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}

.btn-get-started:hover {
    background-color: #1a1a1a;
}

.btn-singing-main {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}

.btn-singing-main:hover {
    background-color: gray;
}

.robot-3d {
    position: absolute;
    top: 0;
    right: -30%;
}

.heading {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    padding-top: 5rem;
    /* text-transform: uppercase; */
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    margin-bottom: 2rem;
    /* space for underline */
}

.heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 8rem;
    height: 4px;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    animation: animate-gradient 2.5s linear infinite;
    border-radius: 2px;
}

@keyframes animate-gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

/* ---------------------------------------gradient 3D model holder---------------------------------------------- */
.about {
    display: flex;
    column-gap: 8rem;
}

.image-gradient-about {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur2 {
    height: 0;
    width: 30rem;
    position: absolute;
    bottom: 20%;
    left: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.about-image {
    position: relative;
    margin: 10% auto;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
}

.about-image::before,
.about-image::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fc72ff, #8f68ff, #00ffff, #099fff, #487bff, #8f68ff, #fc72ff);
    background-size: 400%;
    /* border-radius: 10px; */
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.about-image::after {
    filter: blur(40px);
}




/* -----------------------------------------about me paragraph------------------------------------- */
.cyber-section {
    padding: 0rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    position: relative;
    overflow: hidden;
}

.cyber-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4rem;
}

.cyber-text {
    flex: 1 1 45%;
    background: #0c0c16;
    border: 2px solid #f500ff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #f500ff88;
    text-align: left;
    transition: 0.3s ease;
}

.cyber-text:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px #f500ffcc;
}

.cyber-text h1 {
    font-size: 1.5rem;
    color: #00ffe7;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px #00ffe7;
}

.cyber-text p {
    font-size: 1rem;
    line-height: 1.7;
    color: #e0e0e0;
}

/* ----------------------------------------------cards---------------------------------- */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: row wrap;
    gap: 2rem;
}

.card-container .card {
    --border-radius: 1rem;
    --bg-color: #393e41;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    height: 100%;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    isolation: isolate;
    overflow: hidden;
}

#card1:hover {
    transform: scale(1.02);
    /* box-shadow: 0 0 10px #ef476f; */
}

#card2:hover {
    transform: scale(1.02);
    /* box-shadow: 0 0 30px #ffd23f; */
}

#card3:hover {
    transform: scale(1.02);
    /* box-shadow: 0 0 30px #00a6ed; */
}

.card::before,
.card::after {
    content: '';
    position: absolute;
}

.card::before {
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--color)0deg,
            transparent 60deg, transparent 180deg, var(--color)180deg,
            transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border-animation 4s linear infinite;
}

.card:hover::before {
    animation-play-state: paused;
}

@keyframes border-animation {
    to {
        transform: rotate(-360deg);
    }
}

.card::after {
    --inset: 4px;
    background: #111;
    inset: var(--inset);
    border-radius: calc(var(--border-radius) - var(--inset));
    transition: all 0.3s linear;
    z-index: -1;
}

.card:hover::after {
    background: var(--bg-color);
}

.card i {
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: thin var(--color);
}

.card:hover i {
    color: var(--color);
    -webkit-text-stroke-width: 0;
}

.card .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block: 2.5rem 1.5rem;
    color: var(--color);
}

.card .description {
    line-height: 1.5rem;
    text-align: center;
    opacity: 0.75;
}

/* --------------------------------------------glowing-buttons------------------------------- */
.languages {
    display: flex;
    justify-content: center;
}

:root {
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --bg: hsl(0 0% 10%);
    --size: 100px;
    --glow: radial-gradient(50% 50% at center,
            hsl(var(--hue) 80% 85%),
            hsl(var(--hue) 80% 70%),
            transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

.controls {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

body {
    display: flex;
    place-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    background: var(--bg);
}

.languages > button {
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--bg);
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background:
        linear-gradient(var(--bg), var(--bg)) padding-box,
        var(--glow),
        linear-gradient(black, black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    position: relative;
    padding: 1rem 2rem;
}

.languages > button::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    background: var(--bg);
    z-index: 2;
    border-radius: 1rem;
}

.languages > button span {
    background: var(--glow), black;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
}

:root:has(button:active) {
    --size: 300px;
}

.languages > button::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blur(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
}
/* -------------------------------------contact me----------------------------- */
.contact-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}
.contact-card:hover .icon{
    transform: scale(4);
    opacity: 0;
}
.card-contect h3,
.card-contect span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}
.card-contect h3{
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}
.card-contect span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
}
.contact-card:hover h3{
    opacity: 1;
    top:46px;
    transition: .3s linear .3s;
}
.contact-card:hover span{
    opacity: 1;
    bottom:46px;
    transition: .3s linear .3s;
}
/* -----------------------------------------like------------------------------ */
body,
html {
  align-items: center;
  background-color: #0c1016;
  display: flex;
  font-family: "Roboto";
  font-size: 10px;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding: 0 2rem 0 2rem;
  transition: 150ms all;
  background-color: #1e2837;
}
button.dislike .icon svg.prime {
  -webkit-animation: dislike 550ms forwards ease-in-out;
          animation: dislike 550ms forwards ease-in-out;
}
button.active {
  background-color: #00FFF1;
}
button.active .counter {
  color: #0c1016;
}
button.active .icon svg {
  color: #0c1016;
}
button.active .icon svg.prime {
  -webkit-animation: like 550ms forwards ease-in-out;
          animation: like 550ms forwards ease-in-out;
}
button .counter {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  padding: 2rem 0 2rem 2rem;
  transition: 150ms all;
}
button .icon {
  padding: 1rem;
  transition: 150ms all;
  position: relative;
  width: 3rem;
  height: 3rem;
}
button .icon svg {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
}
button .icon svg.normal {
  z-index: 1;
  opacity: 0.5;
}
button .icon svg.prime {
  z-index: 2;
}

@-webkit-keyframes dislike {
  0% {
    color: #0c1016;
    transform: translate(0, 0%);
  }
  100% {
    color: #00FFF1;
    transform: translate(0, 300%) scale(0);
  }
}

@keyframes dislike {
  0% {
    color: #0c1016;
    transform: translate(0, 0%);
  }
  100% {
    color: #00FFF1;
    transform: translate(0, 300%) scale(0);
  }
}
@-webkit-keyframes like {
  0% {
    color: white;
    transform: translate(0, 0%);
  }
  100% {
    color: #00FFF1;
    transform: translate(0, -300%) scale(0);
  }
}
@keyframes like {
  0% {
    color: white;
    transform: translate(0, 0%);
  }
  100% {
    color: #00FFF1;
    transform: translate(0, -300%) scale(0);
  }
}

/* 
    #like-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #like-button:hover {
      background-color: #0056b3;
    }

    #like-count {
      margin-top: 15px;
      font-size: 18px;
      color: #333;
    } */

/*------------------------------------------------- media quries-------------------------------------- */
/* for contact */
@media screen and (max-width:900px){
    .contact-card{
        flex: 100%;
        max-width: 500px;
    }
}
@layer general-styling {
    * {
        box-sizing: border-box;
    }

    html {
        color-scheme: dark;
    }

    body {
        margin: 0;
        overflow-x: clip;
        background: var(--surface);
    }
}


/* @media(max-width:1300px){
    header{
        padding: 1rem 0.5rem;
    }
    .content{
        margin-top: 85%;
    }
    .robot-3d{
        scale: 0.4;
        top: -20%;
        right: 1%;
    }
} */
@media(max-width:768px) {
    header {
        padding: 1rem 0.1rem;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn-signing {
        padding: 0.6rem;
    }

    .content {
        margin-top: 25rem;
    }

    .robot-3d {
        scale: 0.5;
        top: -25%;
        right: 0;
    }

    .content {
        max-width: 30rem;
        margin-left: 10%;
    }

    .tag-box {
        width: 12rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .btn-get-started {
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }

    .btn-singing-main {
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
}